* {
    font-size: 19px;
}
ul {
    list-style-type: none;
    text-align: center;
    background: transparent;
    background-color: brown;
}
li {
    float: left;
    margin: 12px;
}
li a{
    display: inline-block;
    border: 2px solid brown;
}
.indoor, .Covid {
    text-align: center;
    margin: 20px;
}
.Covid {
    border: 3px;
    border-style: ridge;
    border-color: brown;
}
.home-info {
    text-align: left;
    margin-top: 30px;
}
img {
    float: left;
    max-width: 50%;
    max-height: auto;
    margin: 10px;
}
.hiring {
    text-align:center;
    margin-top: 75px;
}
.indoor {
    margin-top: 75px;
}